/* ===== =====  Poppins Google Font  ===== =====  */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/*  Universal Selector  */
* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/*  Body Font Size   */
html {
  font-size: 10px;
}

/* Css Variables */
:root {

  --glass-bg: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );

}

/*  Body Css  */
body {
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 100vh;
}

/*  Body Main-Background Css    */
.main_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  Main-Container Css    */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "userProfile userDetails"
    "work_skills timeline_about"
    "work_skills timeline_about";
  width: 85%;
  height: 90vh;
  background: var(--glass-bg);
  padding: 1.5rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
}

/*  Container Cards Grid-Area Css Start    */
header {
  grid-area: header;
}

.userProfile {
  grid-area: userProfile;
}

.work_skills {
  grid-area: work_skills;
}

.userDetails {
  grid-area: userDetails;
}

.timeline_about {
  grid-area: timeline_about;
}

/*  Container Cards Css    */
.container .card {
  background: var(--glass-bg);
  backdrop-filter: blur(3rem);
  border-radius: 0.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  /* outline: 1px solid; */
  margin: 7px;
}

/*  Container Header/Navbar Css    */
.container header {
  padding: 0 2.5rem;
}

.container header .Logo {
  display: flex;
  align-items: center;
}

.container header .Logo figure img {
  width: 7rem;
  height: 5rem;
}

.container header .Logo span {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 0 1.5rem;
}

/* User Main-Profile Css Start  */
.container .userProfile {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
  /* outline: 1px solid; */
    margin-top: 2rem;
}

.container .userProfile .profile figure img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.userProfile .stars {
    margin-top: 1rem;
    text-align: center;
}
.stars i{
    color: #c2ba62;
    color:rgb(236, 190, 51);
    font-size: 20px;
}
/*  Work & Skills Css Start   */
.container .work_skills {
  padding: 1.5rem;
}

.work_skills .work .heading,
.work_skills .skills .heading {
  position: relative;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  /* margin-bottom: 3rem; */
}

.work_skills .work .heading::before,
.work_skills .skills .heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
}

.work_skills .work ul li {
    display: flex;
    position: relative;
    margin: 1rem 0;
    /* outline: 2px solid black; */
}
.work_skills .work ul li h1{
    /* margin-left: 1rem; */
    /* outline: 2px solid orange; */
    min-width: 10rem;
    font-size: 1.6rem;
}
.work_skills span{
    /* outline: 2px solid ; */
    font-size: 1.6rem;
}
.work_skills ul{
    margin-bottom: 2rem;
}
.work .mail span{
    color: #5cb6d3;
}

.social{
    align-items: center;
    text-align: center;
}
.work .social a {
    height: 42px;
    width: 42px;
    color: #0099cc;
    background: #f1f0f0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: .5s;
    outline: 1px solid black;
    margin: 6px 3px;
}

.work .social i{
    font-size: 25px;
}
.social a:hover {
    transform: scale(1.1);
}

/*  User Details Css Start   */
.userDetails {
  position: relative;
  padding: 1.5rem 2.5rem;
}
.userDetails .userName{
  justify-content: space-between;
}

.userDetails .userName h1 {
  font-size: 2.7rem;
  display: inline-block;
}

.userDetails .userName span{
  background:#5cb6d3;
  outline: 1px solid black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  float: right;
}
.userDetails .userName p {
  font-size: 1.4rem;
  font-weight: 700;
  color: #0099cc;
  margin-bottom: 1.8rem;
}

.userDetails .agent_info ul li{
    position: relative;
    display: flex;
}
.userDetails .agent_info ul li h1{
    width: 100%;
    max-width: 22rem;
}

.userDetails .agent_info ul li h1 ,span{
  font-size: 1.6rem;
}

.userDetails .agent_info ul .stars i{
    font-size: 1.5rem;
    /* outline: 2px solid; */
}



/*  Timeline & About Css Start   */
.timeline_about {
  padding: 2.5rem;
}

.timeline_about .tabs h1{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.Sales_Info{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    /* outline: 2px solid; */
}
.timeline_about .Sales_Info span{
    width: 100%;
    /* max-width: 25rem; */
    /* outline: 2px solid; */
    /* margin: 0 3rem; */
}

.row-items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
}

.box {
    background-color: #fff;
    /* background-color: hsl(0, 0%, 98%)rgb(249, 249, 249); */
    border: 1.5px solid #f0eded;
    height: 160px;
    width: 160px;
    padding: 10px;
    border-radius: 4px;
    transition: all 1s ease 0s;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 15px;
    /* transform: scale(1.1); */
}

.box h2 , p{
  font-size: 1.6rem;
}
.box h2{
  margin: 0.5rem 0;
}
.box img {
    height: 85px;
    /* padding: 10px; */
    /* box-shadow: 5px 5px 15px rgba(134, 131, 131, 0.2); */
    margin-top: 5px;
    /* outline-offset: 10px; */
    cursor: pointer;
    filter: brightness(1);
}

.sales_report{
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: 15rem;
  /* outline: 1px solid; */
}

.sales_report h1{
  font-size: 3rem;
  font-weight: 500;
}
table {
  width: 100%;
  margin: 2rem auto;
  border-collapse: collapse;
  margin-bottom: 8rem;
}

th,
td {
  padding: 10px;
  min-width: 20rem;
  /* Adds padding to table cells */
  border: 1px solid black;
  /* Adds a border to table cells */
}