@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #ffffff;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--background-url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10%;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.heading {
  width: 100%;
  position: absolute;
  top: 55%;
  transform: translateY(-40%);
  text-align: center;
  color: #ffffff;
}

.heading h1 {
  font-family: "Cinzel", sans-serif;
  font-weight: 300;
  font-size: 3vw;
  padding-bottom: 30px;
}

.heading span {
  font-weight: 300;
  font-size: 1.5vw;
}

.quick-search-widget {
  
  margin-top: 50px;
  text-align: center;
}

.quick-search-widget h1 {
  font-weight: 300;
  font-size: 1.5vw;
  margin-bottom: 30px;
}

.quick-search-widget form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  background-color: #1b1407;
  padding: 20px 20px 35px 20px;
  border-radius: 5px;
}


.form-group {
  margin: 0 20px;
}

.form-group label {
  display: flex;
  margin-bottom: 5px;
}

.form-group select,
.form-group input {
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 8vw;
  font-size: 18px;
}

.form-group select {
  background-color: #fff;
  color: #000;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #81602b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.quick-search-widget button[type="submit"]:hover {
  background-color: #ceab74;
}

.wrap{
  padding-top: 1%;
}

.section-heading,
.section-heading > span {
  color: #ceab74;
  font-family: "Cinzel", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2vw;
  margin: 0 0 30px;
  text-align: center;
}
.section-heading > span {
  color: #000;
}

.popular-search {
  margin: 50px 0px 0px 0px;
}

.popular-search h2 {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 30px;
}

.popular-search ul {
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.listing-class li,
a {
  font-family: "Roboto", sans-serif;
  color: #333;
  display: inline-block;
  flex-direction: row;
  text-align: center;
  font-size: 1vw;
  margin: 0 20px 10px;
  text-decoration: none;
  position: relative;
}

.listing-item::after{
  content: ""; 
  background-color: transparent; 
  border-bottom: rgb(202, 202, 202);
  
  border-width: 0 0 3px 0;
  border-style: solid;
  bottom: -7px;
  transition: 1s;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin: 0 auto; 
}

.listing-item:hover::after {
  border-bottom: #352203; 
  border-width: 0 0 3px 0;
  border-style: solid;
  bottom: -7px;
  left: 0; 
  right: 0; 
  margin: 0 auto; 
  width: 100%;
}

.featured-wrap{
  padding-top: 2%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.featured-h2,
.featured-h2 > span {
  color: #ceab74;
  font-family: "Cinzel", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2vw;
  margin: 0px 0 30px;
  text-align: center;
}
.featured-h2 > span {
  color: #000;
}

.featured-heading {
  margin: 50px 0px 0px 0px;
}

.featured-h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

/* grid css */

.grid-container {
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width:85%;
  row-gap: 80px;
  justify-items: center;
}

.grid-items {
  background-color: #f5f5f5;
  height: 28vw;
  width: 90%;

}

.fill{
  height:65%;
  width: 100%;
  overflow: hidden;
}

.house{
  width:100%;
  min-height: 100%;
}


.house-data td{
  color: #000;
  height:100%;
  width:33%;
  border: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.house-data{
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  
}

#row1{
  border-bottom: 1px solid #d2d2d2;
  padding: 2%;
}

#row2 td{
  /* font-weight: bold; */
  font-size: 1.19vw;
  padding-top: 15px;
}


#row3 td{
  border-bottom: 1px solid #d2d2d2;
  padding-bottom:15px; 
}

#row4 td{
  font-size:large;
  padding-top:1.5%;
  /* outline: 2px solid black; */
}

.grid-items:hover{
  cursor: pointer;
  transition: 0.6s;
  box-shadow: 8px 4px 25px rgb(185, 185, 185);
}

.Agent-button{
  padding:10px;
  font-size: 17px;
  color:#f5f5f5;
  background-color: #2d9e93;
  border-radius: 6px;
  outline: none;
  border: none;
}

.Agent-button:hover{
  cursor: pointer;
  transform: scale(1.04);
  transition: 0.4s;

}
