<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agent Dashboard</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/agent_dashboard.css')}}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Agent Profile</a></li>
        <li><a href="#">Properties</a></li>
      </ul>
    </nav>

    <h3 class="i-name">SOLD PROPERTIES</h3>

    <div class="board">
      <table width="100%">
        <thead class="attributes">
          <tr>
            <th>pid</th>
            <th>area</th>
            <th>Price</th>
            <th>Status</th>
            <th>market_out</th>
            <th>no_bedrooms</th>
            <th>build_year</th>
            <th>area_sqft</th>
          </tr>
        </thead>
        <tbody>
          {% for property in soldProperties %}
          <tr>
            <td class="property_id">
              <h5>{{property.pid}}</h5>
            </td>

            <td class="Address">
              <h5>{{property.area}}</h5>
            </td>

            <td class="Price">
              <h5>
                {%if property.avail=='rent' %} {{property.rent_price}} {%else%}
                {{property.sell_price}} {%endif%}
              </h5>
            </td>

            <td class="Status">
              <h5>
                {%if property.avail=='rent' %} rented {%else%} sold {%endif%}
              </h5>
            </td>

            <td class="market_out">
              <h5>{{market_out}}</h5>
            </td>

            <td class="no_bedrooms">
              <h5>{{property.no_bedrooms}}</h5>
            </td>

            <td class="buildYear">
              <h5>{{property.build_year}}</h5>
            </td>

            <td class="area_sqft">
              <h5>{{property.area_sqft}}</h5>
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>

    <h3 class="i-name">PENDING PROPERTIES</h3>

    <div class="board">
      <table width="100%">
        <thead class="attributes">
          <tr>
            <th>pid</th>
            <th>area</th>
            <th>Price</th>
            <th>Status</th>
            <th>no_bedrooms</th>
            <th>build_year</th>
            <th>area_sqft</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for property in pendingProperties %}
          <tr>
            <td class="property_id">
              <h5>{{property.pid}}</h5>
            </td>

            <td class="Address">
              <h5>{{property.area}}</h5>
            </td>

            <td class="Price">
              <h5>
                {%if property.avail=='rent' %} {{property.rent_price }} {%else%}
                {{property.sell_price}} {%endif%}
              </h5>
            </td>

            <td class="Status">
              <h5>
                {%if property.avail=='rent' %} For Rent {%else%} For Sale
                {%endif%}
              </h5>
            </td>

            <td class="no_bedrooms">
              <h5>{{property.no_bedrooms}}</h5>
            </td>

            <td class="buildYear">
              <h5>{{property.build_year}}</h5>
            </td>

            <td class="area_sqft">
              <h5>{{property.area_sqft}}</h5>
            </td>

            <td class="Action">
              <button class="btn btn-primary">Mark as Sold</button>
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </body>
</html>
