<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{url_for('static',filename='favicon.ico')}}"
      type="image/x-icon"
    />
    <title>Roseville and Sacramento</title>
    <style>
      :root {
        --background-url: url("{{ url_for('static', filename='images/background-house.jpg') }}");
      }
    </style>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/listing.css')}}"
    />
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <img
          src="{{url_for('static',filename='images/icon.jpg')}}"
          class="logo"
        />
        <ul>
          <li><a href="/">For Buyers / Tenants</a></li>
          <li><a href="/owners">For Owners</a></li>
          <li><a href="{{url_for('agent_dashboard', agent_id = 1845)}}">For Agents</a></li>
          <li><a href="/agency">For Agency</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="heading">
        <span>Serving Greater</span>
        <h1>Roseville Greenwich</h1>
        <div class="quick-search-widget">
          <h1>Find Your Dream Home</h1>
          <form method="POST" action="/submit">
            <div class="form-group">
              <label for="location">Location:</label>
              <select id="location" name="location">
                {% for areas in loc%}
                <option value="{{areas.area}}">{{areas.area}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="form-group">
              <label for="price">Price Range:</label>
              <select id="price" name="price">
                <option value="1000-3000">$1,000 - $3,000</option>
                <option value="3000-5000">$3,000 - $5,000</option>
                <option value="5000-7000">$5,000 - $7,000</option>
                <option value="7000-11000">$7,000 - $11,000</option>
                <option value="0-500000">$300,000 - $500,000</option>
                <option value="500000-800000">$500,000 - $800,000</option>
                <option value="800000-1000000">$800,000 - $10,000,000</option>
              </select>
            </div>

            <div class="form-group">
              <label for="bedrooms">Bedrooms:</label>
              <select id="bedrooms" name="bedrooms">
                {% for areas in loc1%}
                <option value="{{areas.no_bedrooms}}">
                  {{areas.no_bedrooms}}
                </option>
                {%endfor%}
              </select>
            </div>
            <div class="form-group">
              <label for="area">Area:</label>
              <select id="area" name="area">
                <option value="1000-1500">1000 - 1500</option>
                <option value="1500 - 2000">1500 - 2000</option>
                <option value="2000 - 2500">2000 - 2500</option>
                <option value="2500 - 3000">2500 - 3000</option>
                <option value="3000 - 4000">3000 - 4000</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Availability">Availability:</label>
              <select id="Availability" name="Availability">
                <option value="rent">rent</option>
                <option value="sale">sale</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bottom-half">
      <div class="wrap">
        <div class="popular-search">
          <h2 class="section-heading">
            Popular
            <span>Searches</span>
          </h2>
          <ul class="listing-class">
            <li class="listing-item">
              <a class="title" href="/Asylum Hill">Asylum Hill</a>
            </li>
            <li class="listing-item">
              <a class="title" href="/Barry Square">Barry Square</a>
            </li>
            <li class="listing-item">
              <a class="title" href="/Blue Hills">Blue Hills</a>
            </li>
          </ul>
        </div>
        <div class="featured-wrap">
          <div class="featured-heading">
            <h2 class="featured-h2">
              Property
              <span>Listing</span>
            </h2>
          </div>
          <div class="grid-container">
            {% for home in homes%}
            <div class="grid-items" onclick="location.href='/{{home.agent_name}}';">
              <div class="fill">
                <img
                  src="{{ url_for('static', filename='property_images/p%d.jpg' % home.pid) }}"
                  class="house"
                />
              </div>
              <table class="house-data" cellspacing="0">
                <tr>
                  <td id="row1" colspan="3">
                    {{home.house_no}}, {{home.street}}, {{home.area}}
                  </td>
                </tr>

                <tr id="row2">
                  <td>$ {{home.sell_price}}</td>
                  <td>{{home.area_sqft}} sq.ft.</td>
                  <td>{{home.avail}}</td>
                </tr>
                <tr id="row3">
                  <td>Price</td>
                  <td>Area</td>
                  <td>Availability</td>
                </tr>
                <tr id="row4">
                  <td colspan="2">Agent Details : {{home.agent_name}}</td>
                  <a href="/{{home.agent_name}}"><td><button class="Agent-button">Connect Now</button></td></a>
                </tr>
              </table>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div class="foot">end of website</div>
  </footer>
</html>
