<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{url_for('static',filename='favicon.ico')}}"
      type="image/x-icon"
    />
    <title>Roseville and Sacramento</title>
    <style>
      :root {
        --background-url: url("{{ url_for('static', filename='pexels-vladimir-kudinov-36362.jpg') }}");
      }
    </style>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='listing.css')}}"
    />
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <img src="{{url_for('static',filename='icon.jpg')}}" class="logo" />
        <ul>
          <li><a href="#">For Buyers / Tenants</a></li>
          <li><a href="#">For Owners</a></li>
          <li><a href="#">For Agents</a></li>
          <li><a href="#">For Agency</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="heading">
        <span>Serving Greater</span>
        <h1>Roseville Greenwich</h1>
        <div class="quick-search-widget">
          <h1>Find Your Dream Home</h1>
          <form>
            <div class="form-group">
              <label for="location">Location:</label>
              <select id="bedrooms" name="bedrooms">
                <option value="1">popular</option>
                <option value="2">popularstr</option>
                <option value="3">popularst</option>
                <option value="4">populars</option>
                <option value="5">popularstreet15+</option>
              </select>
            </div>
            <div class="form-group">
              <label for="price">Price Range:</label>
              <select id="price" name="price">
                <option value="0-500000">$0 - $500,000</option>
                <option value="500000-1000000">$500,000 - $1,000,000</option>
                <option value="1000000+">$1,000,000+</option>
              </select>
            </div>
            <div class="form-group">
              <label for="bedrooms">Bedrooms:</label>
              <select id="bedrooms" name="bedrooms">
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
              </select>
            </div>
            <div class="form-group">
              <label for="area">Area:</label>
              <select id="area" name="area">
                <option value="1">1 sqft</option>
                <option value="2">2 sqft</option>
                <option value="3">3 sqft</option>
                <option value="4">4 sqft</option>
                <option value="5">5 sqft</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bottom-half">
      <div class="wrap">
        <div class="popular-search">
          <h2 class="section-heading">
            Popular
            <span>Searches</span>
          </h2>
          <ul class="listing-class">
            <li class="listing-item">
              <a class="title" href="">Granite Bay</a>
            </li>
            <li class="listing-item">
              <a class="title" href="">Roseville</a>
            </li>
            <li class="listing-item">
              <a class="title" href="">Loomins</a>
            </li>
            <li class="listing-item">
              <a class="title" href="">Auburn</a>
            </li>
            <li class="listing-item">
              <a class="title" href="">Fair Oak</a>
            </li>
            <li class="listing-item">
              <a class="title" href="">Rocklin</a>
            </li>
          </ul>
        </div>
        <div class="featured-wrap">
          <div class="featured-heading">
            <h2 class="featured-h2">
              Property
              <span>Listing</span>
            </h2>
          </div>
          <div class="grid-container">
            {% for home in homes%}
            <div class="grid-items" onclick="location.href='www.google.com';">
              <div class="fill">
                <img
                  src="{{url_for('static',filename='house3.jpg')}}"
                  class="house"
                />
              </div>
              <table class="house-data" cellspacing="0">
                <tr>
                  <td id="row1" colspan="3">
                    {{home.house_no}}, {{home.street}}, {{home.area}}
                  </td>
                </tr>

                <tr id="row2">
                  <td>$ {{home.sell_price}}</td>
                  <td>{{home.area_sqft}} sq.ft.</td>
                  <td>{%if home.avail == 0%} Rent {%else%} Sell {%endif%}</td>
                </tr>
                <tr id="row3">
                  <td>Price</td>
                  <td>Area</td>
                  <td>Availability</td>
                </tr>
                <tr id="row4">
                  <td colspan="2">Agent Details : Anant</td>
                  <td><button class="Agent-button">Connect Now</button></td>
                </tr>
              </table>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div class="foot">end of website</div>
  </footer>
</html>
