<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/login.css"> -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/login.css')  }}">

    <script src="https://kit.fontawesome.com/b6c75e90fc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Paytone+One&family=Yatra+One&family=Zeyada&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <style>
        :root {
            --background-url: url("{{ url_for('static', filename='/agent-images/loginBackground3.jpg')}}");
        }
    </style>
    <title>Login page</title>
</head>
<body>

    <section class="homescreen">
        <div class="icon_container">
            <div class="icons" id="agent">
                <!-- <a href="login.html"><img src="images/agent.png" alt="Agent Icon"></a> -->
                
                <a href="login.html"><i class="fa-solid fa-user-tie"></i> </a>
            <h2>AGENT</h2>
        </div>
        <div class="icons" id="user">
            <a href="houselisting.html"><i class="fa-solid fa-user"></i>></a>
            <h2>USER </h2>
        </div>
        <div class="icons" id="estate">
            <a href="agentoffice.html"><i class="fa-solid fa-users-line"></i></a>
            <h2>ESTATE OFFICE</h2>
        </div>     
    </div>
    </section>

</body>
</html> 