<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Roseville and Sacramento</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../static/css/x.css" rel="stylesheet" type="text/css" />
    <link
      href="../static/favicon.ico"
      rel="shortcut icon"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="sell-property-heading">
      <h2>Sell your property</h2>
    </div>
    <div class="grey-div">
      <!-- add bootstrap carousel here -->
      <div class="agent-info">
        <div class="agent-image">
          <img src="../static/images/pexels-max-rahubovskiy-5997993.jpg" alt="" class="image"/>
        </div>
        <div class="agent-name">
          <h3>Anant Sharma</h3>
        </div>
        <p>Rating : *****</p>
        <p>Base Commision : $ 1000<br /></p>
      </div>
      <!-- add bootstrap dropdown menu here -->
      <div class="agent-links">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="property-form">
      <form>
        <!-- form fields and buttons -->
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form-2">
            <div class="top-row">
              <input type="text" class="h-no w-input" maxlength="256" name="field" data-name="Field" placeholder="house no." id="field" required=""/><input
                type="text"
                class="street w-input"
                maxlength="256"
                name="field-2"
                data-name="Field 2"
                placeholder="Street"
                id="field-2"
                required=""
              /><input
                type="text"
                class="street w-input"
                maxlength="256"
                name="Area"
                data-name="Area"
                placeholder="Area"
                id="Area"
                required=""
              /><input
                type="number"
                class="h-no w-input"
                maxlength="256"
                name="Pincode"
                data-name="Pincode"
                placeholder="Pincode"
                id="Pincode"
                required=""
              />
            </div>
            <div class="second-row">
              <input
                type="number"
                class="h-no w-input"
                maxlength="256"
                name="Year-built"
                data-name="Year-built"
                placeholder="year"
                id="year-built"
                required=""
              /><input
                type="number"
                class="area w-input"
                maxlength="256"
                name="Area-sqft"
                data-name="Area-sqft"
                placeholder="Area sq ft"
                id="Area-sqft"
                required=""
              /><input
                type="text"
                class="price w-input"
                maxlength="256"
                name="sell-price"
                data-name="sell-price"
                placeholder="$   Sell Price"
                id="sell-price"
                required=""
              /><input
                type="text"
                class="price w-input"
                maxlength="256"
                name="Rent-price"
                data-name="Rent-price"
                placeholder="$   Rent Price"
                id="Rent-price"
                required=""
              /><input
                type="text"
                class="bedroom w-input"
                maxlength="256"
                name="Bedroom"
                data-name="Bedroom"
                placeholder="Bedrooms"
                id="Bedroom"
                required=""
              />
            </div>
            <div class="_3rd-row">
              <h4 class="heading-2">Property Type</h4>
              <div class="button-div">
                <input
                  type="submit"
                  value="Rent"
                  data-wait="Please wait..."
                  class="submit-button w-button"
                /><input
                  type="submit"
                  value="Sale"
                  data-wait="Please wait..."
                  class="submit-button w-button"
                />
              </div>
            </div>
            <div class="_4th-row"><div class="img-div"></div></div>
            <div class="_5th-row">
              <input
                type="submit"
                value="Post Your Property"
                data-wait="Please wait..."
                class="submit-button-2 w-button"
              />
            </div>
          </form>
      </form>
    </div>
  </body>
</html>
